Source: buggd
Section: unknown
Priority: optional
Maintainer: Jeff Gough <j@monad.is>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <https://bugg.xyz>
#Vcs-Browser: https://salsa.debian.org/debian/buggd
#Vcs-Git: https://salsa.debian.org/debian/buggd.git

Package: buggd
Architecture: all
Depends:
 ${misc:Depends},
 python3,
 network-manager,
 ffmpeg,
 alsa-utils,
 ntpdate,
 libsystemd-dev,
Description: Audio recording daemon for the Bugg project
 This python package provides a userspace recording service for the Bugg project.
 In addition to hardware drivers, it provides
 buggd - the recording daemon
 soundcardctl - a tool for controlling the soundcard
 modemctl - a tool for controlling the modem
